    <section class="hero-section text-center text-white d-flex align-items-center justify-content-center">
      <div class="hero-content p-4">
        <h1 class="display-4 fw-bold mb-3">
       <span class="typing-text">La calidad cuesta menos...</span>
       </h1>
        <p class="lead mb-4">Descubre nuestras ofertas exclusivas para este fin de semana en todas nuestras categorías.</p>
        <a routerLink="/catalogo" class="btn btn-tuti-naranja btn-lg px-5 py-3 fw-bold hero-btn">
          Ver Catálogo Completo <i class="bi bi-arrow-right ms-2"></i>
        </a>
      </div>
    </section>

    <section class="container my-5 text-center">
      <h3 class="mb-4 text-tuti-azul fw-bold">Explora por Categorías</h3>
      <div class="row justify-content-center g-3">
        <div class="col-6 col-md-3 col-lg-2">
          <div class="category-box" routerLink="/catalogo">
            <i class="bi bi-cup-straw fs-1 text-tuti-naranja"></i>
            <h6 class="mt-2 fw-bold text-dark">Lácteos</h6>
          </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
          <div class="category-box" routerLink="/catalogo">
            <i class="bi bi-egg-fried fs-1 text-tuti-naranja"></i>
            <h6 class="mt-2 fw-bold text-dark">Desayuno</h6>
          </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
          <div class="category-box" routerLink="/catalogo">
            <i class="bi bi-basket2 fs-1 text-tuti-naranja"></i>
            <h6 class="mt-2 fw-bold text-dark">Despensa</h6>
          </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
          <div class="category-box" routerLink="/catalogo">
            <i class="bi bi-droplet fs-1 text-tuti-naranja"></i>
            <h6 class="mt-2 fw-bold text-dark">Limpieza</h6>
          </div>
        </div>
      </div>
    </section>

    <section class="container my-5 pb-5">
      <div class="d-flex justify-content-between align-items-end mb-4">
        <h3 class="text-tuti-azul fw-bold mb-0">Productos Destacados 🌟</h3>
        <a routerLink="/catalogo" class="text-tuti-naranja fw-bold text-decoration-none">Ver todos</a>
      </div>
      
      @if (cargando()) {
        <div class="text-center py-5">
          <div class="spinner-border text-naranja" role="status"></div>
        </div>
      } @else {
        <div class="row row-cols-2 row-cols-md-4 g-4">
          @for (prod of destacados(); track prod.id) {
            <div class="col">
              <app-product-card [producto]="prod" />
            </div>
          }
        </div>
      }
    </section>